
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

body {
    font-family: 'Nunito', sans-serif;
    min-height: 100vh;
    background-color: var(--BGCOLOR);
    color: var(--COLOR);
    background-image: url('./img/background.jpg');
    background-size: cover;
    background-position: top right;
    background-blend-mode: multiply;
    resize: both;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0 auto;
    flex: auto;
    display: flex;
    flex-direction: column;
  }

:root {
--primary-color: #6ab6d9;
--secondary-color: #59bdb4;
--complimentary-color: #9888bf;
--contrast-color: #d6773f;
--light-color: #D2A9D9;
}

.container {
  min-height: 100vh;
  font-family: Montserrat, sans-serif;
  display: flex;

}

nav a {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    padding: 20px;
    text-align: center;
}

nav {
    position: fixed;
    left: 0;
    z-index: 50;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100vh;
    background: var(--secondary-color);
}

section {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 0;
    opacity: 0;
    transition: all ease-in .5s;
    display: flex;
    justify-content: center;
    align-items: center;
} 

section h1, h2 {
    color: #fff;
    font-size: 150px;
    text-transform: uppercase;
    opacity: 0;
}


section:target {
    opacity: 1;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

section:target h1 {
    opacity: 0;
    animation: 2s fadeIn forwards .5s;
}

#first, #second, #third, #fourth, #fifth {
    display: flex;
    flex-direction: column;
    text-align: left;
}

@keyframes fadeIn {
    100% { opacity:1 }
}

.nowrap {
    white-space: nowrap;
  }

.welcome-text{
    --s: 0.1em;
    --c: #59bdb4; 
    color: #b9c3cc00;
    padding-bottom: var(--s);
    background: 
        linear-gradient(90deg,var(--c) 50%,#d1cbcb 0) calc(100% - var(--_p,0%))/200% 100%,
        linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition: 0.5s;
    
}

.welcome-text-second{
    --s: 0.1em;   
    --c: #59bdb4; 
    color: #b9c3cc00;
    padding-bottom: var(--s);
    background: 
        linear-gradient(90deg,var(--c) 50%,#d1cbcb 0) calc(100% - var(--_p,0%))/200% 100%,
        linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition: 0.5s;
}

.second-head{
    color: #fff;
    font-size: 50px;
    margin: 4rem;
}

.welcome-parag{
    color: #fff;
    font-size: 2rem;
    margin: 4rem;
}

.welcome-button{
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    padding: 20px;
    text-align: center;
    padding: 25px 30px;
    background-color: #4ec7ec;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    letter-spacing: 4px;
    overflow: hidden;
    transition: 0.5s;
    cursor: pointer;
}

.welcome-button:hover{
    background: #4ec7ec;
    color: #e74ec6;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
     -webkit-box-reflect:below 1px linear-gradient(transparent, rgba(224, 223, 224, 0.333));
}

h1:hover {--_p: 100%}

.addr{
    color: #fff;
    font-size: 2rem;
    margin: 4rem;
    
}


.login-wrap{
	width:100%;
	margin:auto;
	max-width:525px;
	min-height:670px;
	position:relative;
	
}
.login-html{
	width:100%;
	height:95%;
	position:absolute;
	padding:90px 70px 50px 70px;
	background:rgba(55, 57, 58, 0.9);
    margin: auto;
    text-align: center;
    margin-top: 2rem;
    
}
.login-html .sign-in-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
    padding-top: 4rem;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:40px;
	margin-right:15px;
	padding-bottom:5px;
	margin:auto;
    margin-bottom: 3rem;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{ 
    background-color: white;
    border: 2px solid white;  
	color:#4ecce2;
}
.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
    padding-bottom: 1rem;
    
}
.login-form .group .input,
.login-form .group .button{
	/* border:none; */
	padding:15px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
    /* margin-bottom: 2rem; */
    overflow-y: hidden;
    font-size: 1rem;
    width: 100%;
    height: 100%;
}
.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .group .label{
    text-align: left;
	color: #fff;;
	font-size:20px;
}
.login-form .group .button{
	background:#4ecce2;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
}

.main{
    width: 100%;
    height: 100%;
    
}

.welcome {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    width: 100vw;
    height: 100vh;
  }

.welcome a::before {
    content: "➜ "
  }

.main-container {
    padding: 0.75em 0.5em 0.5em;
    flex-grow: 1;
  }

.homeButton{
    font-size: 1rem;
    width: auto;
    height: auto;
}

.main-footer{
    font-size: 1.1rem;
    position: fixed;
    bottom: 0;
    color:#fff;
    z-index: 1;
    background-color: #4ec7ec;
    padding: 0.5em;
    border-top: 1px solid var(--BORDER-COLOR);
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    gap: 1em;
    width: 100%;
}

img {
    --s: 250px;   
    --b: 8px;     
    --g: 14px;    
    --c: #4ECDC4;
    
    width: var(--s);
    aspect-ratio: 1;
    outline: calc(var(--s)/2) solid #0009;
    outline-offset: calc(var(--s)/-2);
    cursor: pointer;
    transition: 0.3s;
    margin-left: 3rem;
    margin-bottom: 3rem;
  }
  img:hover {
    outline: var(--b) solid var(--c);
    outline-offset: var(--g);
  }
  
  img + img {
    border-radius: 50%;
  }

.elements{
    display: flex;
    justify-content: center;
    position: relative;
    top: 100px;
}

.element{
    font-size: 1.5rem;
    margin:1rem;
}

.main-header{
    font-size: 5rem;
    color:#fff;
    position: relative;
    top: 50px;
    right: 400px;
}

.main-time{
    font-size: 1.5rem;
    position: relative;
    top:50px;
    color: #fff;
}

.nav_header{
    display: flex;
    flex-direction: row;
    margin-bottom: 4rem;
   
   
    
}

.nav_header_menu{
    display: flex;
    
}

.nav_header_menu_list{
    position: fixed;
    left: 0;
    z-index: 50;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: auto;
    background: #4ec7ec;
    width: 100%;
    height: 70px;
   
}

.header_menu__group{
    width: 100%;
    height: auto;
    margin:auto;
    margin-left: 2rem;
    font-size: 20px;
    color: #e74ec6;
    text-decoration: none;
    padding: 20px;
    text-align: center;
    /* padding: 25px 30px; */
    background-color: #4ec7ec;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    letter-spacing: 4px;
    overflow: hidden;
    transition: 0.5s;
    cursor: pointer;
}

.header_menu__group:hover{
    background: #4ec7ec;
    color: #e74ec6;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
     -webkit-box-reflect:below 1px linear-gradient(transparent, rgba(224, 223, 224, 0.333));
}

.header_text{
    color:#fff;
    margin-left: 1rem;
    text-decoration: none;
}

thead,
tbody,
tr {
  display: contents;
}

.table {
  font-size: 1rem;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 2fr;
  color: var(--TABLE-COLOR);
  gap: 0.1em;
}
.table__user {
  font-size: 1rem;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr ;
  color: var(--TABLE-COLOR);
  gap: 0.1em;
}

.table__button {
  padding: 0.25em;
  font-size: 1.5rem;
  color: var(--TABLE-COLOR);
}

.table__thead {
  position: sticky;
  top: 0;
  z-index: 1;
}

.table__th,
.table__cell {
  background-color: var(--TABLE-BGCOLOR);
  text-align: left;
  border: 1px solid var(--TABLE-COLOR);
  padding: 0.5em;
  color: #fff;
  text-align: center;
  font-size: 2rem;
  border: 2px solid;
  border-radius: 0.5rem;
  background-color: darkturquoise;
}

.table__cell:last-child {
  display: grid;
  place-content: center;
}

.table__cell--inactive {
  background-color: var(--INACTIVE);
}

.errmsg{
/*     margin: auto;
    font-size: 2rem;
    text-align: center; */
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    padding: 20px;
    text-align: center;
    padding: 25px 30px;
    /* background-color: #4ec7ec; */
    font-weight: bold;
    border: none;
    border-radius: 5px;
    letter-spacing: 4px;
    overflow: hidden;
    transition: 0.5s;
    cursor: pointer;
}

.form__persist {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 0.5em;
}

.form__checkbox {
    width: 24px;
    height: 24px;
  }

.edit_table_th{
    position: sticky;
    top: 0;
    z-index: 1;
    color: #fff;
    margin-bottom: 2rem;
    font-size: 2rem;
    margin-top: 2rem;
}

